{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About our shop</h1>
                    <p class="lead fw-normal text-white-50 mb-0">The best shopping platform</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas deleniti, assumenda quod tempore reprehenderit fugiat perspiciatis nemo sapiente corrupti dolorem? Repellat, ut cum asperiores magnam deserunt vero atque. Exercitationem, iure.
                    </div>
                </center>
            </div>
        </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>

{% endblock %}